<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0R5mHgmW3CED-mvQ5KFBnbZ0RBd_67cA</string>
	<key>GCM_SENDER_ID</key>
	<string>495489948795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rv215.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>cat-trader</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-trader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495489948795:ios:403a61f230ef3a27fc16de</string>
</dict>
</plist>